n8n-workflows/export-xray-testcases/Export Xray Test Cases.json
{
  "name": "Export Xray Test Cases",
  "nodes": [
    {
      "parameters": {
        "content": "Action required: \n1. Input your Xray credentials to 'Get Xray Authenticate' Node\n2. Open 'Export .xlsx' Node to download file",
        "height": 128,
        "width": 368
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1664,
        2176
      ],
      "id": "6ddf149d-a3ab-46cd-8995-f02cb4d9347f",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "path": "6fbcee6c-33e4-47d4-a7b3-b35ff8d62f18",
        "formTitle": "Export Xray Test cases",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Project ID",
              "placeholder": "Please enter your Xray Project ID",
              "requiredField": true
            },
            {
              "fieldLabel": "Xray Folder Path",
              "placeholder": "e.g. /Folder/Subfolder"
            }
          ]
        },
        "options": {}
      },
      "id": "0a2039a3-e01a-4a6f-97c4-a0121d0035aa",
      "name": "Input Form",
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2,
      "position": [
        -1680,
        2384
      ],
      "webhookId": "6fbcee6c-33e4-47d4-a7b3-b35ff8d62f18",
      "retryOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://xray.cloud.getxray.app/api/v2/authenticate",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\"client_id\": \"YOUR_CLIENT_ID_HERE\", \"client_secret\": \"YOUR_CLIENT_SECRET_HERE\"}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "id": "98b9fa1f-ea5c-4c06-b382-31db23777a4f",
      "name": "Get Xray Authenticate",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -1456,
        2384
      ]
    },
    {
      "parameters": {
        "jsCode": "return {\n  start: 0,\n  allResults: [],\n  total: 0\n};"
      },
      "id": "05772e97-4a0c-4d37-848c-24bd3faf91d5",
      "name": "Init Loop",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1232,
        2384
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://xray.cloud.getxray.app/api/v2/graphql",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $node[\"Get Xray Authenticate\"].json[\"data\"] }}"
            },
            {}
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{\nJSON.stringify({\n  query: `\n    query {\n      getTests(\n        projectId: \"${$('Input Form').item.json['Project ID']}\",\n        folder: { \n        path: \"${$('Input Form').item.json['Xray Folder Path']}\",\n          includeDescendants: true \n        },\n        limit: 100,\n        start: ${$runIndex * 100}\n      ) {\n        total\n        results {\n          jira(fields: [\"id\", \"key\", \"summary\", \"labels\"])\n          steps {\n            id\n            callTestIssueId\n            data\n            action\n            result\n          }\n        }\n      }\n    }\n  `\n})\n}}",
        "options": {}
      },
      "id": "eaec6682-bd86-45ce-a17c-d643033d9e3c",
      "name": "Get Xray Test cases (not including Preconditions)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -1008,
        2384
      ]
    },
    {
      "parameters": {
        "jsCode": "// Retrieve results and total count from the current HTTP Request execution\nconst newResults = $node[\"Get Xray Test cases (not including Preconditions)\"].json.data.getTests.results || [];\nconst total = $node[\"Get Xray Test cases (not including Preconditions)\"].json.data.getTests.total || 0;\n\n// Initialize variables for data accumulation and pagination offset\nlet accumulated = [];\nlet currentStart = 0;\n\ntry {\n  // Access data from this node's previous execution to maintain state\n  const lastExecution = $node[\"Aggregate Data\"].json;\n  accumulated = lastExecution.allResults || [];\n  currentStart = lastExecution.start || 0;\n} catch (e) {\n  // Fallback for the first iteration if no previous state exists\n  accumulated = [];\n  currentStart = 0;\n}\n\n// Merge new results into the existing collection and calculate the next offset\nconst finalResults = accumulated.concat(newResults);\nconst nextStart = currentStart + 100;\n\nreturn {\n  start: nextStart,\n  allResults: finalResults,\n  total: total,\n  done: nextStart >= total\n};"
      },
      "id": "770db276-5db8-43c9-b3a0-1fcf446828db",
      "name": "Aggregate Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -784,
        2320
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.done }}",
              "value2": true
            }
          ]
        }
      },
      "id": "9c2d5c02-efc0-489a-9d0e-eea1d742e500",
      "name": "Check Done",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -560,
        2384
      ]
    },
    {
      "parameters": {
        "jsCode": "// Extract accumulated results from the main loop's final execution\nconst allData = $('Aggregate Data').last().json.allResults;\nconst callTestIds = new Set();\n\n// Iterate through test cases and steps to collect unique callTestIssueId values\nallData.forEach(test => {\n  const steps = test.steps || [];\n  steps.forEach(step => {\n    if (step.callTestIssueId) {\n      callTestIds.add(step.callTestIssueId);\n    }\n  });\n});\n\nconst idArray = Array.from(callTestIds);\nconst batchSize = 100; // Xray limit for batch queries\nconst results = [];\n\n// Partition the ID list into batches to comply with API constraints\nfor (let i = 0; i < idArray.length; i += batchSize) {\n  const batch = idArray.slice(i, i + batchSize);\n  results.push({\n    json: {\n      ids: batch.join(', ') // Format IDs as a comma-separated string for the request\n    }\n  });\n}\n\nreturn results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -336,
        2384
      ],
      "id": "6dc39f45-526c-4a2d-88d9-5d297042d568",
      "name": "Get all CalledTestIDs"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://xray.cloud.getxray.app/api/v2/graphql",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $node[\"Get Xray Authenticate\"].json[\"data\"] }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{\nJSON.stringify({\n  query: `\n    query {\n      getTests(\n        jql: \"id IN (${$json.ids})\",\n        limit: 100,\n        start: 0\n      ) {\n        results {\n          jira(fields: [\"id\", \"key\"])\n        }\n      }\n    }\n  `\n})\n}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -112,
        2384
      ],
      "id": "9e848884-fb19-46c7-8333-29d56d26bf34",
      "name": "Fetch CalledTestID Keys"
    },
    {
      "parameters": {
        "jsCode": "// Retrieve the accumulated results from the main loop's final execution\nconst results = $('Aggregate Data').last().json.allResults;\n\n// Build a lookup map for Jira Keys across all execution items from the Fetch node\nconst keyMap = {};\nconst allFetchItems = $('Fetch CalledTestID Keys').all(); \n\nallFetchItems.forEach(item => {\n  const batchResults = item.json.data.getTests.results || [];\n  batchResults.forEach(res => {\n    if (res.jira) {\n      keyMap[res.jira.id] = res.jira.key;\n    }\n  });\n});\n\nlet rows = [];\n\n// Helper function to sanitize and format step content by removing Jira-specific markup\nconst cleanStepContent = (text) => {\n  if (!text) return \"\";\n  return text\n    .replace(/\\{color:[^}]+\\}/g, \"\").replace(/\\{color\\}/g, \"\")\n    .replace(/\\{code:[^}]+\\}/g, \"\").replace(/\\{code\\}/g, \"\")\n    .replace(/\\{noformat\\}/g, \"\")\n    .replace(/^([\\s]*)([*#-]+)\\s+/gm, (match, space, bullets) => {\n      const level = bullets.length;\n      return \"   \".repeat(level - 1) + \"- \"; \n    })\n    .replace(/\\[([^|\\]]+)\\|([^\\]]+)\\]/g, '\"$2\"')\n    .replace(/\\[(http[^\\]]+)\\]/g, '\"$1\"')\n    .replace(/[*_~^]/g, \"\")\n    .replace(/\\\\r\\\\n/g, \"\\n\")\n    .trim();\n};\n\n// Map raw results into structured rows for final export or reporting\nfor (const test of results) {\n  const steps = test.steps || [];\n  const jira = test.jira || {};\n\n  if (steps.length > 0) {\n    steps.forEach((step, i) => {\n      // Resolve the pre-condition key using the previously built lookup map\n      const preConditionKey = keyMap[step.callTestIssueId] || step.callTestIssueId || \"\";\n\n      rows.push({\n        \"Test case ID\": i === 0 ? jira.key : \"\",\n        \"Description\": i === 0 ? jira.summary : \"\", \n        \"Call-test\": preConditionKey,\n        \"Test data\": step.data || \"\", \n        \"Steps\": cleanStepContent(step.action),\n        \"Expected Result\": cleanStepContent(step.result),\n        \"Status\": i === 0 ? \"Passed\" : \"\"\n      });\n    });\n  } else {\n    // Handle test cases without steps\n    rows.push({\n      \"Test case ID\": jira.key,\n      \"Description\": jira.summary,\n      \"Steps\": \"\",\n      \"Status\": \"Passed\"\n    });\n  }\n}\n\nreturn rows;"
      },
      "id": "0417fa32-9c7b-458d-8edf-ebdcbd6e93be",
      "name": "Transform All Steps",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        112,
        2384
      ]
    },
    {
      "parameters": {
        "operation": "toFile",
        "fileFormat": "xlsx",
        "options": {
          "fileName": "=[{{ $now.format('yyyyMMdd_HHmmss') }}]_Export_Xray_TestCases.xlsx"
        }
      },
      "id": "714912b0-7e12-47ae-8050-99c182291596",
      "name": "Export .xlsx",
      "type": "n8n-nodes-base.spreadsheetFile",
      "typeVersion": 2,
      "position": [
        336,
        2384
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Input Form": {
      "main": [
        [
          {
            "node": "Get Xray Authenticate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Xray Authenticate": {
      "main": [
        [
          {
            "node": "Init Loop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Init Loop": {
      "main": [
        [
          {
            "node": "Get Xray Test cases (not including Preconditions)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Xray Test cases (not including Preconditions)": {
      "main": [
        [
          {
            "node": "Aggregate Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Data": {
      "main": [
        [
          {
            "node": "Check Done",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Done": {
      "main": [
        [
          {
            "node": "Get all CalledTestIDs",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Xray Test cases (not including Preconditions)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get all CalledTestIDs": {
      "main": [
        [
          {
            "node": "Fetch CalledTestID Keys",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch CalledTestID Keys": {
      "main": [
        [
          {
            "node": "Transform All Steps",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transform All Steps": {
      "main": [
        [
          {
            "node": "Export .xlsx",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "4e8aed5d-d82a-4daa-989e-d20ab5d21058",
  "meta": {
    "instanceId": "c2fe6e9126866f3abf8a92526274fa9d9f3c202d6427543bb67ffde9432cd404"
  },
  "id": "1dNKuuhmqG0FfCLi",
  "tags": []
}
